.users {
  width: 80%;
  height: auto;
  .users-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;

    button {
      color: cadetblue;
      padding: 5px 20px;
      border: none;
      margin-bottom: 10px;
      &:hover {
        background: rgb(102, 156, 158);
        color: black;
        border-radius: 12px;
      }
    }
  }
}
