.photo-list{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background: rgba(115, 155, 125, 0.411);
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}