.users-albums-box{
    border: 2px solid gray;
    border-radius: 5px;
    margin: 5px; 
}
.users-albums-box:nth-child(odd){
        background: rgba(142, 235, 165, 0.411);
    
}
.album-items{
    margin: 5px;
}

.album-list {
    background-color: #e6f8f2;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 5px;

}