.user {
    /* display: flex; */
    justify-content: space-between;
    padding: 5px;
}
.user-list {
    display: flex;
    padding: 5px;
    background-color: #f2f2f2;
    justify-content: space-between;
}

.edit-form input  {
    padding: 3px;
    margin: 2px;
}
.edit-form button {
    padding: 3px;
    background: none;
    border:1px solid grey;
    border-radius: 5px;
    background-color: rgb(111, 161, 145);
}
  
.user-list:hover {background-color: rgb(164, 175, 159);}