.app {
  display: flex;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  padding-top: 2rem;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.left-sidebar {
  height: 100vh;
  background-color: gray;
}